*,
*::before,
*,
*::after {
    box-sizing: border-box;
}
body{
    background-color:aquamarine ;
    display: grid;
    justify-content: center;
    align-content: center;
}
.TicTac{
    gap: 5px;
    display: grid;
    grid-template-columns: repeat(3, auto);
}
.TicTac .gridCell {
   
    width: 50px;
    height: 50px;
    background-color: brown;
}